<h4>Boring sites, brilliant data</h4>
<p>We help small to medium sized organizations, departments, teams, non-profits and individuals get their critical data connected in the browser, so they can <strong>decide, act, record and analyze</strong>, regardless of where that data currently lives.</p>
  <ul>
    <li><strong>Decide:</strong> big picture, priority-driven, awareness of all your various data streams, todos, thoughts and goals</li>
    <li><strong>Act:</strong> execute on things that matter, driven by calm, prioritized decisions, acknowledging trade-offs</li>
    <li><strong>Record:</strong> computers are supposed to make life easier, they should record everything I wish to have saved</li>
    <li><strong>Analyze:</strong> the more we record digital organized, the more we can act with intent, leveraging the past</li>
  </ul>
<h4>Leverage external data:</h4>
  <ul>
    <li>Gain new insights by connecting related data feeds</li>
    <li>Compare your summaries to external trends</li>
    <li>Find indicators to leverage and watch</li>
    <li>Refine how you decide, act, record and analyze.</li>
  </ul>

<h4>We believe in:</h4> 
    <ul>
      <li>Function over fancy</li>
      <li>Less things that swim around when you try to click on them, popups of things you don't need and annoying hipster background music</li>
      <li>Helping you remove paper from your workflow</li>
      <li>Automating to the web, the repetitive tasks that are essential to your business</li>
      <li>Summarizing your data automatically in meaningful increments and formats</li>
      <li>Teaching you how we do it</li>
    </ul>
<h4>  ... saving you precious brain cells.</h4>

<%#= render partial: 'static/demo' %>