<h4>boring sites, brilliant data:</h4>

  _decide<br>
  _act<br>
  _record<br>
  _analyze<br>

<h4>add external data: </h4>
  
  _gain new insights by connecting related data feeds<br>
  _compare your summaries to external trends<br>
  _find indicators to leverage and watch<br>
  _refine how you decide, act, record and analyze.<br>

<h4>bring your data alive, so you can use it</h4>

<p>We help small to medium sized organizations, departments, teams, non-profits and individuals, regardless of where your data currently lives. We focus on functional data over fancy presentation, without boxes that swim around when you try to click on them, popups of things you don't need or annoying hipster music saving you precious brain cells.</p><br>




