<%= render partial: 'posts/posts_navbar' %>
<table>
  <th class="col-large">
    <tr align="left">
      <td>date</td>
      <td>title</td>
    </tr>
 </th>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.date %></td>
    <td><%= post.title %></td>
  </tr>
  <hr>
</table>
<% end %>