.logo {
  font-weight: normal;
  color: #636694;
}

.field-with-errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.index-view {
  font-weight: normal;
  background: LightGray;
}

.nav-bar {
  font-weight: bold;
  background: maroon;
  &:hover {
    background: DarkCyan;
  }
}

.registration-bar {
  font-weight: normal;
  background: Wine;
  &:hover {
    background: DarkCyan;
  }
}

.admin {
  font-weight: bold;
  background: LightPink;
  &:hover {
    background: DarkCyan;
  }
}

.flash-style {
  font-weight: bold;
  color: #cc3300;
  font-style: italic;
}
